# Flask/Python用
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
instance/
.env
.env.*
*.env
*.log
*.pot
*.mo
*.swp
*.bak
*.tmp
*.DS_Store
.vscode/
.idea/
.migrations/
migrations/
venv/
dist/
build/
*.egg-info/
*.sqlite
#