<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <section class="max-w-3xl mx-auto px-4 sm:px-6 xl:max-w-5xl xl:px-0">
        <div class="flex flex-col justify-between sp">
            <main class="sp-h">
                {% block content %}{% endblock %}

                {% block footer %}
            </main>
        </div>
    </section>
</body>

</html>
{% endblock %}